@import url('https://fonts.google.com/specimen/Roboto/tester?query=roboto');


*{ 
 margin: 0;
 padding: 0;

}


body {
    /* height:100vh; */
    box-sizing: border-box;
    background-color: white;
    color: black
    
    

}

.cabeçalho{
    text-align: center;
    padding: 2% 0 0 15%; 
    font-family: 'Roboto',sans-serif;
    gap: 80px;
    
    
}

.cabeçalho__menu{
    display:flex;
    gap: 80px;
    text-align: center;
    justify-content: center;
  
    


}




.cabeçalho__menu__link{
    font-family: 'Montesserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:violet;
    text-decoration: none;
    
    
    
    
}



.apresentação { 
    padding: 1% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
   
   
    

}
.apresentação__conteudo {
    width: 615px;
    display :flex;
    flex-direction: column;
    gap: 40px;

}
.apresentação__conteudo__titulo {
    font-size: size 36px;
    margin: 0 15px;
    padding: 10px 35px;
    font-family: 'Krona One', sans-serif;
   

}
.tutulo-destaque{
    color: red
}

.apresentação__conteudo__texto {
    font-size: 24px;
    font-family: ''Roboto', sans-serif';

}

.apresentação__links {
    display :flex;
    flex-direction: column;
    justify-content: space-between;
    width:500px;
    margin: 10px;
    border-radius: 60px;
    align-items: center;
    gap: 32px;
}

.apresentação__links__sub{

font-family: 'Krona One',sans-serif;
font-weight: 400;
font-size: 24px;




}



.apresentação__links__link {
    border: 2px solid violet;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    margin: 10px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding:21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;

}
.apresentação__links__link:hover {
background-color: pink;
}


.rodape{
    color: white;
    padding: 24px;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-weight: 400;
}






    
